@media (max-width: 992px) {
    body {
        overflow: auto;
    }

    .user {}

    .foto {
        margin-top: 20px;
    }

    .services {
        display: flex;
        background-color: #eeeeee;
        /* justify-content: flex-start; */
        padding: 10px 0 10px 0;
    }
}