@media (max-width: 991px) {
    .row {
        height: auto;
        margin-top: 0;

    }

    .button-service {
        width: 125.5px;
        height: 120px;
        max-width: 125.5px;
        max-height: 120px;
    }
}